node_modules
/.cache
/server/build
/public/build
/build
/app/styles/
.DS_Store
yarn-error.log
/coverage
/google-storage-key.json
jest.results.json
test-results/
playwright-report/
playwright/*.json
.vscode
